/* You can add global styles to this file, and also import other style files */
/* @import "./app/modules/todo-item/todo-item.component.css"; */
:root{
    --navbar: #F4322D;
    --white: #f8f8f8;
    --green: #6BE868;
    --blue: #66B7FF;
    --pink: #E937FA;
    --gray: rgb(47 47 47);
    --shadow: #d6d6d6;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: blue/*var(--white)*/;
    box-sizing: border-box;
}

li{
    cursor: pointer;
}