<nav class="nav-bar" #navbar>
  <h1 class="title">TODO LIST {{ screenSize }}</h1>
  <ul
    [ngClass]="{
      dropdown: menuVisible,
      optionsWrapper: menuVisible ? false : true
    }"
    #dropdown
  >
    <li><a>Sign in</a></li>
    <li><a>Sign up</a></li>
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Logout</a></li>
  </ul>
  
  <div (click)="showMenu()" class="dropdownContainer" #dropdownContainer>
    <img class="icon-menu" src="../../../assets/icons8-menú.svg" alt="" />
  </div>
</nav>
