<nav class="nav-bar" #navbar>
  <h1 class="title">TODO LIST {{screenSize}}</h1>
  <ul 

    [ngClass]="{
      dropdown: menuVisible,
      optionsWrapper: menuVisible ? false : true
    }"
    #dropdown
  >
    <li
      [routerLink]="'login'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a>Sign in</a>
    </li>
    <hr />
    <li
      [routerLink]="'signup'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a>Sign up</a>
    </li>
    <hr />
    <li [routerLink]="'home'"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"><a>Home</a></li>
    <hr />
    <li [routerLink]="'about'"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"><a>About</a></li>
    <hr />
    <li><a>Logout</a></li>
  </ul>

  <div (click)="showMenu()" class="menuButton" #dropdownContainer>
    <img class="icon-menu" src="../../../assets/icon-menu.svg" alt="" />
  </div>
</nav>
