/*NAVIGATION BAR*/
.nav-bar {
  align-items: center;
  background-color: var(--navbar);
  color: var(--white);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  width: 100%;
}

.title {
  margin: 0;
  padding: 0;
}


/*Options style*/
/*When screen > 768 is .optionsWrapper*/
/*When screen < 768 is .dropdown*/

.optionsWrapper > li {
  /* border: 1px solid var(--white); */
  border-radius: 4px;
  margin-inline-end: 2em;
  padding: 0.5em 1em;
}

.optionsWrapper > li:hover {
  background-color: var(--white);
  color: var(--gray);
}
.optionsWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
}
/*styles when screen < 769*/

/*The options change to this style when screen < 769*/
.dropdown {
  background-color: var(--navbar);
  border-radius: 20px;
  /* box-shadow: 2px 2px 5px 1px var(--shadow); */
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  width: 10rem;
}
.optionsWrapper>li,
.dropdown > li {

  padding: 0.1em 1em;
  /* margin-inline-end: 2em; */
  text-align: center;
}

.dropdown > hr{
  display: none;
}

.menuButton {
  display: none;
}



/*RESPONSIVE DESIGN*/
@media (max-width: 768px) {
  .optionsWrapper {
    display: none;
  }

  .menuButton {
    box-sizing: border-box;
    display: block;

  }
  .dropdown > li{
    padding: 0.5em 1em;
  }

  .dropdown > hr{
    display: block;
  }
  /* img {

    height: 10rem;
    background-color: rebeccapurple
  } */
  .icon-menu {
    border-radius: 4px;
    cursor: pointer;
    height: 2.5rem;
    /* border: 1px solid var(--white); */
    padding: 0.3em 0.6em;
  }

  .icon-menu:hover {
    background-color: var(--navbar-hover);
    color: var(--gray);
  }
}
